.text {
	font-family: helvetica;
	font-size: 28pt;
	line-height: 1.2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}

.title {
	font-family:helvetica;
	font-size:16pt;
	position:absolute;
	top:40%;
	left:50%;
	transform: translate(-50%,-50%);
	color:blue;
}

.blank {
	color: black;
}

.button {
	font-family: helvetica;
	font-size: 12pt;
	text-align: center;
	line-height: 2.5em;
	width: 300px;
	height: 40px;
	background: lightblue;
	color: white;
	border-radius: 15px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
body {
	background:lavender;}